<!DOCTYPE html>
<html>
    <head>
      <title>Shop</title>
    </head>
    <body>
        <form action="/receipt" method="POST">
            <p>book at 12.49<input type="checkbox" name="product" value="book|book|12.49"></p>
            <p>music CD at 14.99<input type="checkbox" name="product1" value="music CD|other|14.99"></p>
            <p>chocolate bar at 0.85<input type="checkbox" name="product2" value="chocolate bar|food|0.85"></p>
            <br/>
            <p>imported box of chocolates at 10.00<input type="checkbox" name="product3" value="imported box of chocolates|food|10.00"></p>
            <p>imported bottle of perfume at 47.50<input type="checkbox" name="product4" value="imported bottle of perfume|other|47.50"></p>
            <br/>
            <p>imported bottle of perfume at 27.99<input type="checkbox" name="product5" value="imported bottle of perfume|other|27.99"></p>
            <p>bottle of perfume at 18.99<input type="checkbox" name="product6" value="bottle of perfume|other|18.99"></p>
            <p>packet of headache pills at 9.75<input type="checkbox" name="product7" value="packet of headache pills|medical|9.75"></p>
            <p>box of imported chocolates at 11.25<input type="checkbox" name="product8" value="box of imported chocolates|food|11.25"></p>
            <button type="submit">Go</button>
        </form>
    </body>
</html>